{% extends 'base.html' %}
{% block body%}
    <h1 class="welcomeHeader">Witaj na stronie Statystyki COVID-19</h2>
    <div class="differentColor">
        <div style="text-align: center">
            <h1 style="color: black">Cele strony</h1>
            <p>Poniżej są przedstawiane główne cele, które są realizowane przez stronę</p>
        </div>
        <div class="anotherColor">
            <p>Uświadamianie społeczeństwa o sytuacji epidemiologicznej w Polsce i Europie</p>
        </div>

        <div class="anotherColor">
            <p>Informowanie społeczeństwa</p>
        </div>

        <div class="anotherColor">
            <p>Zbieranie i przetwarzanie informacji o COVID-19</p>
        </div>
    </div>
    <!--<ul>
        <li>Uświadanianie społeczeństwa o sytuacji epidemiologicznej w Polsce i Europie</li>
        <li>Informowanie społeczeństwa</li>
        <li>Zbieranie i przetwarzanie informacji o COVID-19</li>
    </ul>-->
    <p>Strona przedstawia podstawowe dane z różnych źródeł, czego efektem są statystyki zachorowań na COVID-19 w Europie i w Polsce.</p>
    <div class="differentColor">
        <h1 style="color: black; text-align: center">Czym jest COVID-19?</h1>
        <p><strong>COVID-19</strong> to ostra choroba zakaźna układu oddechowego wywołana zakażeniem wirusem SARS-CoV-2.</p>
        <p>Od 20 marca 2020 r. w Polsce obowiązuje stan epidemii COVID-19. 12 marca 2020 r. Światowa Organizacja Zdrowia ogłosiła pandemię koronawirusa COVID-19.</p>
    </div>
    <p>Strona może być rozwijana o dodatkowe informacje o pandemii i jej przebiegu.</p>
{% endblock %}