{% extends 'base.html' %}
{% block body%}
    <h2 class="welcomeHeader">Lista wykresów</h2>
    <ul class="interline">
        <li><a href="/wykres">Wykres nowych zakażeń COVID-19 w Europie</a></li>
        <li><a href="/wykres2">Wykres procentowy dziennego przyrostu zakażeń COVID-19 w Europie</a></li>
        <li><a href="/wykres3">Wykres procentowy zmiany aktywnych zakażeń COVID-19 w Europie</a></li>
        <li><a href="/wykres4">Wykres wszystkich zakażeń COVID-19 w Europie od początku epidemii</a></li>
    </ul>
{% endblock %}