{% extends 'base.html' %}
{% block body%}
<h2 class="welcomeHeader">O nas</h2>
<p>Drużyna <strong>Error_404</strong>, czyli Michał Pilarski, Patryk Buliński i Marek Kycia, to autorzy projektu <i>Statystyki Covid-19</i>. Strona powstała w ramach V edycji konkursu Hack Heroes, którego tematem przewodnim jest szeroko rozumiane zdrowie.</p>
<p><strong>Michał Pilarski</strong> - uczeń klasy matematyczno-fizyczno-informatycznej w XIV Liceum Ogólnokształcącym im. Stanisława Staszica w Warszawie. </p>
<p><strong>Patryk Buliński</strong> - uczeń klasy matematyczno-fizyczno-informatycznej w XIV Liceum Ogólnokształcącym im. Stanisława Staszica w Warszawie.</p>
<p><strong>Marek Kycia</strong> - uczeń klasy matematyczno-fizyczno-informatycznej w XIV Liceum Ogólnokształcącym im. Stanisława Staszica w Warszawie.</p>
{% endblock %}